.container-newsBar {
  justify-content: space-between;
  width: 300px;
  margin: 20px auto;
}
.container-newsBar-buttons {
  gap: 20px;
}
.container-newsBar-buttons__button {
  outline: none;
  background-color: var(--body-bg-color);
  border: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 1.76rem;
  line-height: 2.1rem;
}
.container-newsBar__img {
  width: 21px;
  height: 21px;
}
@media (min-width: 719px) {
  .container-newsBar {
    width: 500px;
  }
}
@media (min-width: 1000px) {
  .container-newsBar {
    width: 800px;
  }
  .container-filter {
    gap: 10px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.47rem;
    line-height: 2rem;
  }
  .container-filter button{
    background:none;
    outline: none;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.47rem;
    line-height: 2rem;
    border:none
  }
}
