.container-subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background: #304c70;
  border: 1px solid #dddedf;
  border-radius: 4px;
  margin-top: 20px;
  color: white;
}
.container-contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 2px solid #304c70;
  border-radius: 4px;
  margin-top: 20px;
  color: white;
}
