nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    background-color: var(--nav-bg-color);
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    width: 150px;
    margin: 10px 15px;
}
nav img{
    width: 100%;
}
.button-container{
    margin-right: 25px;
    gap: 20px;
}
.button-container__button{
    outline: none;
    background-color:var(--button-bg-color),
    border:none
}
.button-container__button--circle{
    
}