nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  z-index: 500;
}
nav a {
  text-decoration: none;
  width: 150px;
  margin: 10px 15px;
}
nav img {
  width: 100%;
}
.button-container {
  margin-right: 25px;
  gap: 20px;
}
.button-container__button {
  outline: none;
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-bg-color);
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.button-container__button--circle {
  border-radius: 50%;
}
@media (min-width: 1000px) {
  nav {
    position: fixed;
    justify-content: center;
    align-items:flex-start !important;
    width: 15%;
    height: 100vh;
  }
  .button-container {
    display: none;
  }
}
