nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    background-color: var(--nav-bg-color);
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    width: 150px;
}
nav img{
    width: 100%;
    margin: 10px 15px;
}