.container-news {
  position: relative;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #dddedf;
  border-radius: 4px;
  background-color: #ffffff;
}
.container-news-header,
.container-news-options,
.container-news-report {
  width: 100%;
  margin: 10px auto;
}
.container-news-header-category{
    width: 100%;
    justify-content: space-between;
    background-color:#ECECF1;
    opacity: 0.5;
}
.container-news-header-category__text {
  font-size: 1.28rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: 1.7rem;
}
.container-news-header-category__subtitle {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: 2rem;
}
.container-news-header-category__text img {
  height: 15px;
  width: 15px;
}
