.modalBackground {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.container-modal {
  width: 70%;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.row-container-text {
  justify-content: flex-start;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  line-height: 2rem;
  gap: 10px;
}
.row-container-text img{
    width: 21px;
}
/*en sass podria haberlo extendido de container modal*/
.container-modal-options{
    width: 80%;
    height: 70vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    
}
.container-modal-options-header{
   height: 100px;
   width: 100%; 
   font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  line-height: 2rem;
}
.container-modal-options-header span{
    margin-right: 10px;
    vertical-align: middle;
}
.header__image-back{
    width: 21px;
}